@font-face {
  font-family: "RobotoMono-Light";
  src: local(RobotoMono-Light), 
  url(./fonts/RobotoMono/static/RobotoMono-Light.ttf) format("truetype");
  font-weight: normal;  
}

@font-face {
  font-family: "RobotoMono-Bold";
  src: local(RobotoMono-Bold), 
  url(./fonts/RobotoMono/static/RobotoMono-Bold.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "RobotoMono-LightItalic";
  src: local(RobotoMono-LightItalic), 
  url(./fonts/RobotoMono/static/RobotoMono-LightItalic.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "RobotoMono-Italic";
  src: local(RobotoMono-Italic), 
  url(./fonts/RobotoMono/static/RobotoMono-Italic.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "RobotoMono-Regular";
  src: local(RobotoMono-Regular), 
  url(./fonts/RobotoMono/static/RobotoMono-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: local(Roboto-Regular), 
  url(./fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: local(Roboto-Bold), 
  url(./fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: normal;
}

body{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 0;
  background-color: #FAFAFA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ck-editor{
  width: 300px;
}

