.document-editor-container{
    position: relative;
    width: 100%;
    height: auto;
    background: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
}

.toolbar{
    position: relative;
    height: 100px;
    width: 80%;
    background: gray;
    display: flex;
    justify-content: flex-start;
}

.workContainer{
    position: relative;
    height: auto;
    width: 80%;
}
