.document-editor-container{
    position: relative;
    width: 100%;
    height: auto;
    background: #fafafa;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.toolbar{
    position: relative;
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    background: #ffffff; 
    border-radius: 10px;
    border: solid 1px #f1f1f1;
    margin: 5px 0 0 0;
}

.workContainer{
    position: relative;
    height: auto;
    width: 80%;
}

.toolbar-button{
    height: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    border: solid 1px #f1f1f1;
    margin: 5px 0px 0px 5px;
}


.text-section{
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 200px;
    height: auto;
    background: #ffffff;
    margin: 10px 0;
}

.wrapperClassName{
    position: relative;
    height: 100%;
    width: 80%;
}

.toolbarClassName{
    background: #ffffff !important; 
    border-radius: 10px !important;
    border: solid 1px #f1f1f1 !important;
    padding: 5px 0 0 5px !important;
    height: auto !important;
    margin: 5px 0 0 0;
    transition: margin .5s;
}

.hideToolbar{
    display: none !important;
}

.toolbarClassName div{
    border-radius: 5px !important;
}

.rdw-option-wrapper{
    margin: 0 5px 0 0 !important;
    border-radius: 5px !important;
}

.rdw-fontfamily-optionwrapper{
    
}

.editorClassName{
    background-color: #ffffff;
    border-radius: 10px;
    border: solid 1px #f1f1f1;
    padding: 0 10px;
    margin: 5px 0 0 0
}




  